.align-self-baseline {
    align-self: baseline !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-flex-end {
    align-self: flex-end !important;
}

.align-self-flex-start {
    align-self: flex-start !important;
}

.align-self-stretch {
    align-self: stretch !important;
}