.height-25 {
    height: 25% !important;
}

.height-33 {
    height: 33.3% !important;
}

.height-50 {
    height: 50% !important;
}

.height-66 {
    height: 66.6% !important;
}

.height-75 {
    height: 75% !important;
}

.height-100 {
    height: 100% !important;
}

.height-100px {
    height: 100px !important;
}

.height-200px {
    height: 200px !important;
}

.height-300px {
    height: 300px !important;
}

.height-100vh {
    height: 100vh !important;
}