.overflow-x-auto {
    overflow-x: auto !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-x-visible {
    overflow-x: visible !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.overflow-y-visible {
    overflow-y: visible !important;
}